<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <div class="card" style="width: 18rem;">
          <img src="https://www.peerbits.com/static/6142f24615d2c569d410992301613e62/87e8a/fitness-tracking-app-mains.jpg""alt"><br>
            <div class="card-body">
              <h5 class="card-title">TRACKING APPLICATION</h5>
              <p class="card-text">Best app for fitness tracking application.</p>
              <a href="register">To Register click here</a>
            </div>
          </div>
       <!-- <h2>This is My Application Home page </h2>
    <a href="register"><button>Register</button></a>
    <a href="login"><button>login</button></a> -->
</center>
</body>
</html>