<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is my first web page</h1>
    <form method="post">
        <label>name:</label>
        <input type="text" name="name"><br><br>
        <label>marks:</label>
        <input type="text" name="marks"><br><br>
        <label>branch:</label>
        <input type="text" name="branch"><br><br>
        <label>place:</label>
        <input type="text" name="place"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>