<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body bgcolor="pink"></body>
    <center>
    <form method="post">
    <h3> FITNESS TRACKING </h3>
        <label >Name:</label>
        <input type="text" name="name" required><br><br>
        <label for ="">Email:</label>
        <input type="email" name="email" required><br><br>
        <label for ="">Password:</label>
        <input type="password" name="password" required><br><br>
        <label for ="">Phone:</label>
        <input type="number" name="phone"><br><br>
        <label for ="">Weight:</label>
        <input type="number" name="weight"><br><br>
        <label for="">Height:</label>
        <input type="number" name="height"><br><br>
        <button>submit</button>
    </form>
</center>
</body>
</html>